:root{
    --btn-color:#331a15; 
    --header-main:rgba(51, 26, 21, 1);
    --text-color:#fff;
    --btn-bg:#fff;
    --border-color:#fff;
    --bt-bg:#331a15;
    --hover: #FF6123;
    --banner-txt:#331a15;
}
*{
    list-style: none;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
   
}
/* //header css */
.header-menu {
    padding: 20px 0px;
    background: var(--header-main);
    width: 100%;
    position: fixed;
    z-index: 999;
}
.header_menu_logo {
   
    display: flex;
    align-items: center;
    column-gap: 150px;

}
ul.menu-section {
    display: flex;
    align-items: center;
    column-gap: 40px;
    margin-bottom: 0px !important;
    padding-left: 0 !important;
}
.header-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul.menu-section li a {
    color: var(--text-color);
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    white-space: nowrap;
}
ul.menu-section li a:hover{
    text-decoration: none;
    color: var(--hover);
}
.logo div {
    font-family: "Rancho", cursive;
    font-size: 45px;
    font-weight: 400;
    font-style: normal;
    color: var(--text-color);
}
.shop_now_btn {
    background: var(--btn-bg);
    padding: 0px 50px;
    font-size: 30px;
    font-family: "Rancho", cursive;
    font-weight: 400;
    color: var(--btn-color);
    border-radius: 5px;
    border: 3px solid transparent;
    background: var(--btn-bg);
    padding: 0px 50px;
    font-size: 30px;
    font-family: "Rancho", cursive;
    font-weight: 400;
    color: var(--btn-color);
    border-radius: 5px;
    white-space: nowrap;
    border: 3px solid transparent;
}
.shop_now_btn:hover{
    background:var(--bt-bg);
    border:3px solid var(--border-color);
    color: var(--text-color);

}
.nav-menu i{
    display: none;
}
/* //home page css */
.homepage{
    background: url(./assest/coffesite-background-img.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 850px;
    position: relative;
   
}
    .homepage-text {
        position: absolute;
        top: 35%;
        left: 56%;
        height: 200px;
        color: var(--text-color);
        font-size: 57px;
        font-weight: 400;
        font-family: "Rancho", cursive;
    }
    .homepage_para {
        font-size: 18px;
        color: var(--text-color);
        font-weight: 400;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        position: absolute;
        top: 57%;
        left: 56%;
      
    }
    .learn_btn{
        position: absolute;
        top: 71%;
        left: 56%;


    }
    .learn_btn:hover{
        background: transparent;
        border: 3px solid var(--border-color);
    }
/* //first banner css */
.first-bannner{
        padding: 100px 0px;
        background: rgba(236, 234, 227, 1);
   
}
.banner_txt{
    font-size: 30px;
    font-weight: 400;
    font-family: "Rancho", cursive;
    color: var(--banner-txt);
    padding-top: 15px;
    white-space: nowrap;
}
.banner-para{
    font-size: 18px;
    font-weight: 400;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding-top: 10px;
}
.banner-main {
    padding: 0px 18px;
}
/* //media query for tablet screen */
@media(max-width:991px){
    ul.menu-section {
        column-gap: 20px;
    }
    .header_menu_logo {
        column-gap: 40px;
    }
    .shop_now_btn {
        padding: 0px 25px;
        font-size: 18px;
    }
    ul.menu-section li a {
        font-weight: 500;
        font-size: 14px;
    }
    .header-menu {
        padding: 15px 0px;
    }
    .logo div {
       
        font-size: 22px;
    }
    .homepage {
        height: 485px;
        top: 60px;
       
    }
    .homepage-text {
        top: 25%;
        font-size: 40px;
        line-height: 45px;
    }
    .homepage_para {
        font-size: 14px;
        top: 46%;
    }
    .learn_btn {
        top: 63%;
    }
    .banner-main img {
        height: 54px;
    }
    .banner_txt {
        font-size: 20px;
        padding-top: 5px;
    }
    .banner-para {
        font-size: 12px;
      padding-top: 0px;
    }

    .nav-menu i{
        display: none;
    }
}
@media(max-width:767px){
    .nav-menu i{
        display: block;
    }
    .shop_now_btn {
        display: none;
    }
    ul.menu-section {
        display: none;
    }
    .nav-menu {
        color: var(--text-color);
        font-size: 20px;
    }
    .header-main {
        padding: 0px 100px;
    }
    .logo div {
        font-size: 35px;
    }
    .homepage-text {
        text-align: center;
        left: 0;
        right: 0;
    }
    .homepage_para {
        text-align: center;
        left: 0;
        right: 0;
    }
    .learn_btn {
        display: block !important;
        left: 0;
        right: 0;
        text-align: center;
        width: 180px;
        margin: 0 auto;
        font-size: 20px;
    }
    .banner-main img {
        height: auto;
    }
    .banner_txt {
        font-size: 28px;
        padding-top: 12px;
    }
    .banner-para {
        font-size: 18px;
    }
    .banner-main {
        padding: 30px 40px;
    }


}